* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white; /*tudo que utilizar essa variável ficará branco o lugar*/
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

/*a:link {
  color: yellow;
}*/

body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat; não repetir a imagem
  background-position: top center; Centralizar a imagem a partir do topo
  background-size: cover; cobrir toda área visível

  /*existe a possibilidade de agrupar tudo em uma propriedade*/
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
#container {
  width: 100%; /*largura*/
  max-width: 580px; /*até que ele alcance 580px*/
  /*height: 712px; altura*/
  /*border: 1px solid red; borda*/
  /*margin-right: auto;  margem a direita*/
  /*margin-left: auto; margem a esquerda*/
  /*margin: auto; para substituir o margin-right e margin-left*/
  /*padding-top: 56px; margem do topo*/
  /*margin-top: 56px; margem do topo*/
  /*margin-right: auto; margem a direta*/
  /*margin-bottom: auto; margem abaixo*/
  /*margin-left: auto; margem a esquerda*/
  margin: 56px auto 0px;
  padding: 0 24px;
}
/*Profile*/
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}
#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
/*switch*/
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute; /*Faz uma sobreposição de camadas*/
  top: 50%;
  left: 0;
  z-index: 1; /*mudando a posição*/
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* links*/

ul {
  list-style: none; /*pra tirar os marcadores(pontos) que ficam antes do texto na lista.*/
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid var (--stroke-color);
  background: var(--surface-color);
  backdrop-filter: blur(4px);
  color: var(--text-color);
  text-align: center;

  /* text-md */
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  transition: background 0.2s;
}
/* pseudo-selector*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color); /*utilizando a variável definida na class*/
}
/*social links*/
#social-links {
  display: flex;
  padding: 24px 0;
  justify-content: center;
  /*align-items: flex-start;*/
  /*gap: 16px;*/
  /*align-self: stretch;*/
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2;
  border-radius: 50%; /*bolinha perfeita*/
}
/*para quando passar o cursor o que vai acontecer*/
#social-links a:hover {
  background: var(--highlight-color);
}
footer {
  padding: 24px 0;
  text-align: center;
}

/*media queries*/
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}
